<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="roleForm">
        <ng-template matStepLabel>Đối tượng sử dụng</ng-template>
        <mat-card style="width: 20%;">
            <account-role></account-role>
        </mat-card>
    </mat-step>
    <mat-step [stepControl]="accountForm">
        <ng-template matStepLabel>Thông tin tài khoản</ng-template>
        <mat-card style="width: 35%; margin: auto">
            <h2 style="text-align: center">Thông tin tài khoản</h2>
            <account-profile></account-profile>
        </mat-card>
    </mat-step>
    <div *ngIf="role">
        <mat-step [stepControl]="profileForm">
            <ng-template matStepLabel>Thông tin cá nhân</ng-template>
            <mat-card style="width: 35%; margin: auto">
                <h2 style="text-align: center">Thông tin cá nhân</h2>
                <div *ngIf="role.roleName === 'Customer'; else administrator">
                    <customer-profile></customer-profile>
                </div>
                <ng-template #administrator>
                    <employee-profile></employee-profile>
                </ng-template>
            </mat-card>
        </mat-step>
    </div>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <mat-card style="width: 35%;margin: auto">
            <h2>Create account successfully</h2>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-card>
    </mat-step>
</mat-horizontal-stepper>