mat-card {
    font-family: 'Times New Roman', Times, serif;
    text-align: center
}
button {
    font-family: 'Times New Roman', Times, serif
}
::ng-deep ng-template {
    font-family: 'Times New Roman', Times, serif
}
mat-select,  mat-option {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}