<mat-toolbar>Quần áo trẻ sơ sinh</mat-toolbar>
<button mat-button>Quần áo bé trai</button>
<button mat-button>Quần áo bé gái</button>
<button mat-button>Giày tập đi</button>
<button mat-button>Bình sữa</button>
<button mat-button>Nhiệt kế</button>
<button mat-button>Xe</button>
<mat-divider></mat-divider>
<mat-toolbar>Sữa và thực phẩm</mat-toolbar>
<button mat-button>Sữa cho bé</button>
<button mat-button>Bánh ăn dặm</button>
<button mat-button>Bột ăn dặm</button>
<button mat-button>Sữa cho mẹ</button>
<button mat-button>Thực phẩm cho mẹ</button>
<mat-divider></mat-divider>
<mat-toolbar>Tã và vệ sinh</mat-toolbar>
<button mat-button>HUGGIES</button>
<button mat-button>PAMPERS</button>
<button mat-button>MERRIES</button>
<button mat-button>BOBBY</button>
<button mat-button>Sữa tắm cho bé</button>
<button mat-button>Dầu gội cho mé</button>
<button mat-button>Khăn ướt</button>
<mat-divider></mat-divider>
<mat-toolbar>Mẹ bầu và sau sinh</mat-toolbar>
<button mat-button>Máy hút sữa</button>
<button mat-button>Đồ mặc mẹ bầu</button>
<button mat-button>Sữa tắm gội</button>
<mat-divider></mat-divider>
<mat-toolbar>Thời trang bé trai</mat-toolbar>
<button mat-button>Giày dép</button>
<button mat-button>Quần áo</button>
<mat-divider></mat-divider>
<mat-toolbar>Thời trang bé gái</mat-toolbar>
<button mat-button>Đầm</button>
<button mat-button>Quần áo</button>
<button mat-button>Giày dép</button>
<footer>
    <p>Footer</p>
</footer>