mat-toolbar {
    font-family: 'Times New Roman', Times, serif
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    bottom: 0%
}
button {
    width: 100%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif
}