<div id="content">
    <div id="titleContent">
        <h1>Nguyễn Hữu Úy</h1>
    </div>
    <div id="formContent" class="container">
        <mat-card id="matcard">
            <h2>
                <p>
                    <mat-label>Đăng nhập</mat-label>
                </p>
            </h2>
            <p>
                <mat-label>

                </mat-label>
            </p>
            <p>
                <mat-form-field id="matform">
                    <mat-label>Tài khoản</mat-label>
                    <input matInput placeholder="Vui lòng nhập tài khoản">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field id="matform">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput placeholder="Vui lòng nhập mật khẩu" type="password">
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button color="primary">Login</button>
            </p>
        </mat-card>
    </div>
</div>