#content{
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
button {
    font-family: 'Times New Roman', Times, serif
}
#titleContent{
    text-align: center;
    color: blue;
    margin-top: 5%;
}

#formContent{
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#matcard{
    text-align: center;
    background: aliceblue;
}

#h2{
    color: blue;
}

#matform{
    appearance: "legacy";
    width: 70%;
}

mat-form-field {
    font-family: 'Times New Roman', Times, serif
}

mat-label {
    font-family:  'Times New Roman', Times, serif
}