<div>
    <div style="width: 100%;background: blue; height: 7%;position: fixed;
    z-index: 1;">ádasd</div>
    <div style="background: yellow; height: 93%;position: absolute;width: 100%;top:7%">
        <div style="
            width: 15%;
            float: left;
            height: 100%;
            overflow: auto;
            background:rgb(241, 241, 243);" id="category-scroll">
            <product-category></product-category>
        </div>
        <div style="
            width: 85%;
            height: 100%;
            overflow: auto;
            position: absolute;
            right: 0%;
            background:rgb(241, 241, 243)">
            <category-detail></category-detail>
        </div>
        <footer>
            <p>Footer</p>
        </footer>
    </div>
</div>