<mat-card>
    <h2>
        <p>
            <mat-label>
                <b>Thông tin sản phẩm</b>
            </mat-label>
        </p>
    </h2>
    <p>
        <mat-form-field style="width: 50%">
            <mat-label>Tên sản phẩm *</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 20%">
            <mat-select placeholder="Thương hiệu*">
                <mat-option *ngFor="let trademark of trademarks" [value]="trademark.name">
                    {{trademark.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 25%">
            <mat-select placeholder="Mặt hàng *">
                <mat-option *ngFor="let category of categories" [value]="category.name">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 25%">
            <mat-select placeholder="Kho hàng *">
                <mat-option *ngFor="let inventory of inventories" [value]="inventory.name">
                    {{inventory.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 10%">
            <mat-label>Số lượng</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 15%">
            <mat-label>Đơn giá (VND)</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <mat-form-field style="width: 70%; height: 200px;">
        <mat-label>Mô tả</mat-label>
        <textarea matInput placeholder="Mô tả ..." style="height: 200px;"></textarea>

    </mat-form-field>
    <form novalidate style="margin-top: 50px">
        <input type="file" (change)="onFileChange($event)"/>
        <button type="submit">Submit</button>
    </form>
    <p>
        <button mat-raised-button color="primary">Xác nhận</button>
    </p>
</mat-card>