mat-form-field {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%
}

mat-select,  mat-option {
    font-family: 'Times New Roman', Times, serif
}
h2 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif
}
.image {
    cursor: pointer;
}