<form [formGroup]="employeeForm" (submit) = "submitEmpl()">
    <div formGroupName="employee">
        <p>
            <mat-form-field>
                <mat-label>Họ và tên *</mat-label>
                <input matInput id="fullname" formControlName="name">
            </mat-form-field>
        </p>
        <p>
            <mat-radio-group formControlName="gender">
                <mat-radio-button style="margin-right: 5%" *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-radio-button>
            </mat-radio-group>

        </p>

        <p>
            <mat-form-field>
                <mat-label>Địa chỉ *</mat-label>
                <input matInput id="address" formControlName="address">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Số điện thoại *</mat-label>
                <input matInput id="phone" formControlName="phoneNumber">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Chứng minh thư *</mat-label>
                <input matInput id="identification" formControlName="identification">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field style="width: 35%">
                <mat-select placeholder="Quốc tịch" formControlName="nationality">
                    <mat-option *ngFor="let nation of nations" [value]="nation.value">{{nation.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>
    <div>
        <button mat-button matStepperPrevious>Quay lại</button>
        <button mat-button matStepperNext (click)="saveCustomer()">Next</button>
    </div>
</form>