<div mat-dialog-content>
    <h2>
        <p>
            <mat-label cdkFocusInitial>
                <b>Chỉnh sửa sản phẩm</b>
            </mat-label>
        </p>
    </h2>
    <p>
        <mat-form-field>
            <input matInput placeholder="Tên sản phẩm" [value]="product.productName">
        </mat-form-field>
    </p>

    <form novalidate style="width: 100%; height: 10%;">
        <input mat-input type="file" (change)="onFileChange($event)" />
        <button mat-button type="submit" color="primary">Submit</button>
    </form>
    <p>
        <mat-form-field>
            <mat-select [(ngModel)]="tradeMark" placeholder="Thương hiệu">
                <mat-option *ngFor="let trademark of tradeMarks" [value]="trademark.tradeMark">
                    {{trademark.tradeMark}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-select [(ngModel)]="prodCategory" placeholder="Loại hàng">
                <mat-option *ngFor="let category of productTypes" [value]="category.productType">
                    {{category.productType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-select placeholder="Độ tuổi" placeholder="Độ tuổi">
                <mat-option *ngFor="let category of productTypes" [value]="category">
                    {{category.productType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-select placeholder="Cân nặng" placeholder="Cân nặng">
                <mat-option *ngFor="let category of productTypes" [value]="category">
                    {{category.productType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Số lượng</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Đơn giá (VND)</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <mat-form-field>
        <mat-label>Mô tả</mat-label>
        <textarea matInput placeholder="Mô tả ..." style="height: 200px;"></textarea>

    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <button mat-button [mat-dialog-close]>Ok</button>
</div>