<div mat-dialog-content>
    <h2>
        <p>
            <mat-label cdkFocusInitial>
                <b>Chỉnh sửa sản phẩm</b>
            </mat-label>
        </p>
    </h2>
    <p>
        <label>
            <img class="image" src="{{imageUrl}}" style="width: 50%">
            <input type="file" (change)="uploadImage($event)" />
        </label>
    </p>
    <p>
        <mat-form-field style="width: 70%; margin-top: 0%">
            <input matInput placeholder="Tên sản phẩm" [value]="product.productName">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-select [(ngModel)]="prodCategory" placeholder="Loại hàng">
                <mat-option *ngFor="let category of productTypes" [value]="category.productType">
                    {{category.productType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-select placeholder="Độ tuổi" placeholder="Độ tuổi">
                <mat-option *ngFor="let category of productTypes" [value]="category">
                    {{category.productType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-select placeholder="Cân nặng" placeholder="Cân nặng">
                <mat-option *ngFor="let category of productTypes" [value]="category">
                    {{category.productType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Đơn giá (VND)</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <mat-form-field>
        <mat-label>Mô tả</mat-label>
        <textarea matInput placeholder="Mô tả ..." style="height: 200px;"></textarea>

    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Trở lại</button>
    <button mat-button [mat-dialog-close] (click) = "modifyProduct()">Lưu lại</button>
</div>