<div mat-dialog-content>
    <h2>
        <p>
            <mat-label cdkFocusInitial>
                <b>Cập nhật sản phẩm</b>
            </mat-label>
        </p>
    </h2>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <p>
            <label>
                <img class="image" src="{{imageUrl}}" style="width: 50%">
                <input type="file" (change)="uploadImage($event)" formControlName="productImage" />
            </label>
        </p>
        <p>
            <mat-form-field style="width: 70%; margin-top: 0%">
                <input matInput placeholder="Tên sản phẩm" formControlName="productName" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-select formControlName="productType" placeholder="Loại hàng">
                    <mat-option *ngFor="let productType of productTypes" [value]="productType">
                        {{productType.productType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-select formControlName="tradeMark" placeholder="Thương hiệu">
                    <mat-option *ngFor="let tradeMark of tradeMarks" [value]="tradeMark">
                        {{tradeMark.tradeMark}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-select placeholder="Độ tuổi" formControlName="age">
                    <mat-option *ngFor="let age of ages" [value]="age">
                        {{age.startAge}} - {{age.endAge}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-select placeholder="Cân nặng" formControlName="weight">
                    <mat-option *ngFor="let weight of weights" [value]="weight">
                        {{weight.startWeight}} - {{weight.endWeight}} ({{weight.size}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Ngày sản xuất</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="manufDate" enabled=true>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field >
                <mat-label>Hạn sử dụng</mat-label>
                <input matInput formControlName="expiryDate" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Đơn giá (VND)</mat-label>
                <input matInput formControlName="unitPrice" type="number">
            </mat-form-field>
        </p>
        <mat-form-field>
            <mat-label>Mô tả</mat-label>
            <textarea matInput placeholder="Mô tả ..." style="height: 100px;" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Thành phần</mat-label>
            <textarea matInput placeholder="Thành phần ..." style="height: 100px;padding-top: 20px" formControlName="ingredient"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hướng dẫn bảo quản</mat-label>
            <textarea matInput placeholder="Hướng dẫn bảo quản ..." style="height: 100px;padding-top: 20px"
                formControlName="preservation"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Trở lại</button>
    <button mat-button [mat-dialog-close] (click)="modifyProduct()">Lưu lại</button>
</div>