.mat-button {
    font-family: 'Times New Roman', Times, serif
}
button {text-align: left;}
mat-panel-title {
    font-family: 'Times New Roman', Times, serif
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    bottom: 0%
}