<div>
    <div style="
        width: 15%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: auto;
        background:rgb(241, 241, 243);overflow: auto;">
        <div style="height: 80%;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Quản lý sản phẩm
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button style="width: 100%; color: black; text-align: left" [routerLink]="[{outlets: {admin: ['product']}}]">
                    Sản phẩm
                </button>
                <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                    routerLinkActive="active">
                    Loại sản phẩm
                </button>
                <button mat-button style="width: 100%; color: black; text-align: left" [routerLink]="[{outlets: {admin: ['trademark']}}]">
                    Thương hiệu
                </button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Quản lý tài khoản
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button style="width: 100%; color: black; text-align: left" [routerLink]="[{outlets: {admin: ['account']}}]">
                    Tài khoản
                </button>
                <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                    routerLinkActive="active">
                    Phân quyền
                </button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Quản lý đơn hàng
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button style="width: 100%; color: black; text-align: left" [routerLink]="[{outlets: {admin: ['waiting-order']}}]">
                    Chờ duyệt
                </button>
                <button mat-button style="width: 100%; color: black; text-align: left" [routerLink]="[{outlets: {admin: ['approved-order']}}]">
                    Đã duyệt
                </button>
                <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                    routerLinkActive="active">
                    Giao dịch
                </button>
            </mat-expansion-panel>

        </div>
    </div>

    <div style="height: 100%;
    width: 85%;
    position: absolute;
    overflow: auto;right: 0;">
        <router-outlet name='admin'></router-outlet>
    </div>
</div>