<div>
    <!-- <mat-list style="
    width: 12%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    background:rgb(95, 93, 112)">
            <mat-list-item style="width: 100%;">
                <button mat-button style="width: 100%; color: white; text-align: left" routerLink="/product"
                    routerLinkActive="active">
                    <mat-icon>business_center</mat-icon>
                    Sản phẩm
                </button>
            </mat-list-item>
            <mat-list-item style="width: 100%">

                <button mat-button style="width: 100%; color: white; text-align: left;">
                    <mat-icon>people</mat-icon> Người dùng
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button style="width: 100%; color: white; text-align: left">
                    <mat-icon>event_note</mat-icon> Order
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button style="width: 100%; color: white; text-align: left">
                    <mat-icon>account_circle</mat-icon> Sales
                </button>
            </mat-list-item>
        </mat-list> -->
    <!-- <button mat-button style="width: 100%; color: white; text-align: left" routerLink="/product" routerLinkActive="active">
            <mat-icon>business_center</mat-icon>
            Sản phẩm
        </button>
        <button mat-button style="width: 100%; color: white; text-align: left;">
            <mat-icon>people</mat-icon> Người dùng
        </button>
        <button mat-button style="width: 100%; color: white; text-align: left">
            <mat-icon>event_note</mat-icon> Order
        </button>
        <button mat-button style="width: 100%; color: white; text-align: left">
            <mat-icon>account_circle</mat-icon> Sales
        </button> -->
    <div style="
        width: 15%;
        height: 65%;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        background:rgb(241, 241, 243)">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Quản lý sản phẩm
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                routerLinkActive="active">
                Sản phẩm
            </button>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                routerLinkActive="active">
                Loại sản phẩm
            </button>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                routerLinkActive="active">
                Thương hiệu
            </button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Quản lý tài khoản
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/account"
                routerLinkActive="active">
                Tài khoản
            </button>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                routerLinkActive="active">
                Phân quyền
            </button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Quản lý đơn hàng
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                routerLinkActive="active">
                Đơn hàng
            </button>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/account"
                routerLinkActive="active">
                Tình trạng đơn hàng
            </button>
            <button mat-button style="width: 100%; color: black; text-align: left" routerLink="/product"
                routerLinkActive="active">
                Giao dịch
            </button>
        </mat-expansion-panel>
    </div>
    <div style="
    width: 15%;
    height: 35%;
    position: fixed;
    bottom: 0;
    overflow: auto;
    background:rgb(180, 18, 59)"></div>
    <div style="height: 100%;
    width: 85%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;right: 0;">
        <router-outlet></router-outlet>
    </div>
</div>