<mat-grid-list cols="4" rowHeight="2:3">
    <mat-grid-tile *ngFor="let product of products">
        <div class="container1">
            <button mat-button class="image">image</button>
        </div>
        <div class="container2">
            <div class="container3">
                <p>
                    <mat-label>
                        {{product.name}}
                    </mat-label>
                </p>
                <p>
                    <mat-label>
                        {{product.price}} VND
                    </mat-label>
                </p>
                <p>
                    <button mat-button>
                        <mat-icon>add_circle_outline</mat-icon> Thêm giỏ hàng
                    </button>
                </p>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>