mat-grid-tile {
    background: rgb(218, 218, 218);
}

button {
    font-family: 'Times New Roman', Times, serif
}

.container1 {
    position: absolute;
    height: 70%;
    width: 100%;
    top:0;
}
button {
    width: 100%;
    height: 100%;
}

.container2 {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 70%;
    bottom: 0;
    text-align: center;
}

.container3 {
    padding-top:2%;
    position: absolute;
    height: 100%;
    width: 100%;
}