mat-grid-tile {
    background: rgb(193, 214, 245);
}

button {
    font-family: 'Times New Roman', Times, serif
}

.container1 {
    position: absolute;
    height: 70%;
    width: 100%;
    top:0;
}
button {
    width: 100%;
    height: 100%;
}

.container2 {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 70%;
    bottom: 0;
    text-align: center;
}

.container3 {
    padding-top:2%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.image {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0
}