<mat-grid-list cols="5" rowHeight="2:3">
    <mat-grid-tile>
        <div style="position: absolute;height: 70%;width: 100%; top:0">
            <button mat-button style="height: 100%;width:100%">ádsd</button>
        </div>
        <div style="position: absolute;height: 30%;width: 100%;bottom: 0; text-align: center">
            <div style="padding-top:2%">
                <p>
                    <mat-label>
                        GIÁP TÂM LINH
                    </mat-label>
                </p>
                <p>
                    <mat-label>
                        $2800
                    </mat-label>
                </p>
                <p>
                    <button mat-button>Thêm giỏ hàng</button>
                </p>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>
    <mat-grid-tile>10</mat-grid-tile>
    <mat-grid-tile>11</mat-grid-tile>
    <mat-grid-tile>12</mat-grid-tile>
    <mat-grid-tile>13</mat-grid-tile>
    <mat-grid-tile>14</mat-grid-tile>
    <mat-grid-tile>15</mat-grid-tile>
    <mat-grid-tile>16</mat-grid-tile>
    <mat-grid-tile>17</mat-grid-tile>
    <mat-grid-tile>18</mat-grid-tile>
    <mat-grid-tile>19</mat-grid-tile>
    <mat-grid-tile>20</mat-grid-tile>
    <mat-grid-tile>21</mat-grid-tile>
    <mat-grid-tile>22</mat-grid-tile>
    <mat-grid-tile>23</mat-grid-tile>
    <mat-grid-tile>24</mat-grid-tile>
    <mat-grid-tile>25</mat-grid-tile>
    <mat-grid-tile>26</mat-grid-tile>
    <mat-grid-tile>27</mat-grid-tile>
    <mat-grid-tile>28</mat-grid-tile>
</mat-grid-list>